<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrador.quizapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".QuizApp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizApp_AcBar"
            android:label="@string/title_activity_quiz_app__ac_bar" >

        </activity>
        <activity
            android:name=".PlayActivity"
            android:label="PlayActivity"
            android:parentActivityName=".QuizApp">
        </activity>
        <activity
            android:name=".ScoresActivity"
            android:label="ScoresActivity"
            android:parentActivityName=".QuizApp">
        </activity>

    </application>

</manifest>
